* {
    margin: auto;
    background-color: #C1DFF0;
    /*border: 1px solid red;*/
}

h1 {
    font-family: "Lobster", "Lato", sans-serif;
    text-align: center;
    color: #1F5470;
    padding: 30px;
    
}

table {
    border: 6px solid #1F5470;
    text-indent: initial;
    border-collapse: separate;
    border-spacing: 2px;
    border-radius: 3px;

}

thead, th, td  {
    border-top: 1px solid #7CB9DB;
    color: #062637;
}

td {
    padding: 2px;
    font-family: "Lato", sans-serif;
}

.header {
    color: white;
    background-color: #1F5470;
    border-radius: 5px;
    padding: 10px 80px;

}